* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./bus.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

main {
    background-color: rgba(255, 255, 255, 0.493);
    padding: 20px;
    border-radius: 5px;
    width: 40%;
    margin: auto;
    padding: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
}

h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 20px;
}

p {
    padding: 20px;
    font-size: 1rem;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

button:active {
    transform: scale(1.02);
}


#increment-btn {
    background: rgb(14, 120, 173);
}

#save-btn {
    background: darkgreen;
}

@media screen and (max-width:700px) {

    main {
        width: 80%;
    }
}
